@import "tailwindcss";

@layer components {
  .astro-code {
    background-color: #1a1b26 !important;
    border-color: theme('colors.zinc.700');
    border-width: 1px;
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.4');
    margin-top: theme('spacing.6');
    margin-bottom: theme('spacing.6');
    width: 100%;
    display: block;
    overflow: hidden;
  }
  /* 内部 <pre> 标签 */
  .astro-code pre {
    @apply m-0                     /* 去掉默认 margin */
           overflow-x-auto         /* 支持横向滚动 */
           leading-relaxed         /* 行高 */
           text-sm;                /* 字体大小 */
  }
  /* 内部 <code> 标签 */
  .astro-code code {
    @apply font-mono               /* 使用等宽字体 */
           whitespace-pre;         /* 保留空白 */
  }
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* 导航样式 */
.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}

/* 暗黑主题 */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}