---
import BaseLayout from '../layouts/BaseLayout.astro';

const modules = import.meta.glob('./blogs/*.md', { eager: true });

const posts = Object.entries(modules).map(([path, mod]) => {
  const frontmatter = (mod as any).frontmatter ?? {};

  const title =
    frontmatter.title ??
    path.replace('./blogs/', '').replace('.md', '');

  const url = path.replace('./', '/').replace('.md', '/');

  return { title, url };
});

const pageTitle = 'Blogs';
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={post.url}>{post.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
